* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #368382;
}
.pratice {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 300px;
     display: flex; 
    flex-direction: row; 
    background-color: rgba(7, 78, 136, 0.37);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}
input {
    font-size: 20px;
    /* margin-left: 30px; */
    height: 30px;
    border: 3px;
    outline: none;
    border-radius: 4px;
}
.pratice i {
    margin-left: 3px;
    font-size: 26px;
    color: #ffff;
}










@media (max-width: 700px) {
    .pratice {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50px;
        width: 300px;
         display: flex; 
        flex-direction: row; 
        background-color: rgba(7, 78, 136, 0.37);
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(0%, 0%); }
    }